version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: classicmap_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: k2167512!!
      MYSQL_DATABASE: classicmap
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
